header {
  height: 50px;
  width: 100%;
  background-color: cornflowerblue;
}
.logo {
  height: 50px;
  width: 50px;
  position: absolute;
}
.btn {
  background-color: rgb(0, 2, 0);
  color: #fbfaff;
  border-radius: 10%;
  height: 30px;
  width: 90px;
  display: block;
  float: right;
  margin: 10px;
  position: relative;
}
.btn:hover {
  background-color: blue;
  height: 40px;
  width: 90px;
}
marquee {
  background-color: red;
  font-size: 20px;
}
form {
  background-color: rgb(142, 0, 155);
  margin: auto;
  width: 400px;
  height: 570px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(1500px);
  box-shadow: 20px 20px 80px rgba(8, 7, 16, 0.6);
}
form h2 {
  text-align: center;
  font-weight: 900;
  line-height: 42px;
  font-size: 35px;
  color: yellow;
}
label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  align-items: center;
  margin-left: 10%;
  color: white;
}
form input {
  display: block;
  height: 20px;
  width: 70%;
  background-color: rgba(253, 253, 253, 0.493);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  margin-left: 10%;
  border: 1px solid rgb(81, 255, 0);
  color: rgb(0, 0, 0);
}
.submit-btn {
  margin-top: 10px;
  margin-left: 10%;
  width: 300px;
  position: relative;
  background-color: blue;
  color: #fbfaff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgb(187, 255, 0);
  color: black;
  width: 300px;
}
footer {
  display: block;
  background-color: black;
  color: yellow;
  text-align: center;
  width: 100%;
  height: auto;
}
table {
  
  background-color: rgb(142, 0, 155);
  margin-top: 10%;
  margin-left: 20%;
  padding: 2px;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(1500px);
  box-shadow: 20px 20px 80px rgba(8, 7, 16, 0.6);
}
table th{
  color: yellow;
  border: 2px dotted rgb(38, 255, 30);
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 7px;
}
table td{
  color: rgb(253, 253, 253);
  border: 2px dotted gray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #50aaa3;
  border-radius: 4px;
}
